@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: #2f2f2f;
  background: linear-gradient(to top, #2f2f2f, rgb(136, 136, 136));
  cursor: default;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header {
  letter-spacing: 0.6em;
  padding-bottom: 50px;
  padding-top: 50px;
}
.container {
  max-width: 500px;
  margin: auto;
}
input[type="text"],
input[type="text"]:focus {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  border: none;
  background: rgb(255, 255, 255);
  max-width: 400px;
}
.todos li {
  background-color: white;
  color: #2f2f2f;
}
.delete {
  cursor: pointer;
}

footer {
  padding-top: 50px;
  padding-bottom: 15px;
  color: grey;
  margin-top: auto;
}

a {
  color: #6d95ed;
  text-decoration: none;
}

.filtered {
  display: none !important;
}

.icons {
  font-size: 1.3em;
  user-select: none;
}

.delete,
.info,
.completed {
  font-weight: normal !important;
  padding: 3px;
}

.delete:hover,
.info:hover,
.completed:hover {
  font-weight: 900 !important;
  cursor: pointer;
}

.checked {
  background-color: rgb(81, 151, 255) !important;
}

.checked span {
  text-decoration: line-through !important;
}

.checked .completed {
  font-weight: 900 !important;
}

.details {
  background-color: rgb(223, 223, 223) !important;

  /* margin-bottom: 10px; */
}
.details span {
  font-size: 0.8em;
}

.information {
  font-weight: 900 !important;
}

.task {
  margin-top: 5px;
}

.add-bar {
  display: flex;
  justify-content: space-between;
}

.btn-primary {
  padding: 0 20px;
  background-color: rgb(81, 151, 255);
  color: white;
  border: none;
}
.btn-primary:hover {
  color: #2f2f2f;
  background-color: #8ee1ff;
}

li span {
  max-width: 345px;
}
@media screen and (max-width: 450px) {
  li span {
    max-width: 270px;
  }
  footer {
    font-size: 0.7em;
  }
  .details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .details span {
    width: 100%;
    padding: 5px;
  }
}

@media screen and (max-width: 350px) {
  li span {
    max-width: 100px;
  }
  footer {
    font-size: 0.7em;
  }
  .details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .details span {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
